---
swagger: "2.0"
info:
  description: "One way to interact with the Slack platform is its HTTP RPC-based\
    \ Web API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace\
    \ tokens blessed with related OAuth scopes."
  version: "1.0.5"
  title: "Slack Web API"
host: "slack.com"
basePath: "/api"
schemes:
- "https"
paths:
  /chat.delete:
    post:
      tags:
      - "chat"
      description: "Deletes a message."
      operationId: "chat_delete"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "as_user"
        in: "formData"
        description: "Pass true to delete the message as the authed user with `chat:write:user`\
          \ scope. [Bot users](/bot-users) in this context are considered authed users.\
          \ If unused or false, the message will be deleted with `chat:write:bot`\
          \ scope."
        required: false
        type: "boolean"
        x-exportParamName: "AsUser"
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `chat:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "ts"
        in: "formData"
        description: "Timestamp of the message to be deleted."
        required: false
        type: "number"
        x-exportParamName: "Ts"
      - name: "channel"
        in: "formData"
        description: "Channel containing the message to be deleted."
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/chat.delete success schema"
          examples:
            application/json:
              ok: true
              ts: "1401383885.000061"
              channel: "C024BE91L"
        default:
          description: "Typical error response"
          examples:
            application/json:
              ok: false
              error: "message_not_found"
      security:
      - slackAuth:
        - "chat:write:user"
        - "chat:write:bot"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/chat.delete"
  /files.comments.edit:
    post:
      tags:
      - "files.comments"
      - "files"
      description: "Edit an existing file comment."
      operationId: "files_comments_edit"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "comment"
        in: "formData"
        description: "Text of the comment to edit."
        required: false
        type: "string"
        x-exportParamName: "Comment"
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `files:write:user`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "id"
        in: "formData"
        description: "The comment to edit."
        required: false
        type: "string"
        x-exportParamName: "Id"
      - name: "file"
        in: "formData"
        description: "File containing the comment to edit."
        required: false
        type: "string"
        x-exportParamName: "File"
      responses:
        200:
          description: "Standard success response when used with a user token"
          schema:
            $ref: "#/definitions/files.comments.edit schema"
          examples:
            application/json:
              user_id: "W12345678"
              url: "https://subarachnoid.slack.com/"
              team_id: "T12345678"
              user: "grace"
              team: "Subarachnoid Workspace"
              ok: true
        default:
          description: "Standard failure response when used with an invalid token"
          schema:
            $ref: "#/definitions/files.comments.edit error schema"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "files:write:user"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/files.comments.edit"
  /mpim.open:
    post:
      tags:
      - "mpim"
      description: "This method opens a multiparty direct message."
      operationId: "mpim_open"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `mpim:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "users"
        in: "formData"
        description: "Comma separated lists of users.  The ordering of the users is\
          \ preserved whenever a MPIM group is returned."
        required: false
        type: "string"
        x-exportParamName: "Users"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/mpim.open success schema"
          examples:
            application/json:
              ok: true
              channel:
                id: "D024BFF1M"
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/mpim.open error schema"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "mpim:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/mpim.open"
  /groups.replies:
    get:
      tags:
      - "groups"
      description: "Retrieve a thread of messages posted to a private channel"
      operationId: "groups_replies"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "thread_ts"
        in: "query"
        description: "Unique identifier of a thread's parent message"
        required: false
        type: "number"
        x-exportParamName: "ThreadTs"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `groups:history`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "channel"
        in: "query"
        description: "Private channel to fetch thread from"
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              messages:
              - text: "Hello"
                type: "message"
                ts: "1358546515.000008"
                user: "U2147483896"
              - text: "World"
                is_starred: true
                type: "message"
                ts: "1358546515.000007"
                user: "U2147483896"
              - type: "something_else"
                ts: "1358546515.000007"
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "channel_not_found"
      security:
      - slackAuth:
        - "groups:history"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/groups.replies"
  /bots.info:
    get:
      tags:
      - "bots"
      description: "Gets information about a bot user."
      operationId: "bots_info"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `users:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "bot"
        in: "query"
        description: "Bot user to get info on"
        required: false
        type: "string"
        x-exportParamName: "Bot"
      responses:
        200:
          description: "When successful, returns bot info by bot ID."
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              bot:
                updated: 1449272004
                name: "commandeer"
                icons:
                  image_36: "https://..."
                  image_48: "https://..."
                  image_72: "https://..."
                deleted: false
                app_id: "A061BLERW"
                id: "B061F7JQ1"
              ok: true
        default:
          description: "When no bot can be found, it returns an error."
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "bot_not_found"
      security:
      - slackAuth:
        - "users:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/bots.info"
  /reminders.add:
    post:
      tags:
      - "reminders"
      description: "Creates a reminder."
      operationId: "reminders_add"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "text"
        in: "formData"
        description: "The content of the reminder"
        required: false
        type: "string"
        x-exportParamName: "Text"
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `reminders:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "user"
        in: "formData"
        description: "The user who will receive the reminder. If no user is specified,\
          \ the reminder will go to user who created it."
        required: false
        type: "string"
        x-exportParamName: "User"
      - name: "time"
        in: "formData"
        description: "When this reminder should happen: the Unix timestamp (up to\
          \ five years from now), the number of seconds until the reminder (if within\
          \ 24 hours), or a natural language description (Ex. \"in 15 minutes,\" or\
          \ \"every Thursday\")"
        required: false
        type: "string"
        x-exportParamName: "Time"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "reminders:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/reminders.add"
  /groups.rename:
    post:
      tags:
      - "groups"
      description: "Renames a private channel."
      operationId: "groups_rename"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "validate"
        in: "formData"
        description: "Whether to return errors on invalid channel name instead of\
          \ modifying it to meet the specified criteria."
        required: false
        type: "boolean"
        x-exportParamName: "Validate"
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `groups:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "name"
        in: "formData"
        description: "New name for private channel."
        required: false
        type: "string"
        x-exportParamName: "Name"
      - name: "channel"
        in: "formData"
        description: "Private channel to rename"
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "groups:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/groups.rename"
  /users.profile.set:
    post:
      tags:
      - "users.profile"
      - "users"
      description: "Set the profile information for a user."
      operationId: "users_profile_set"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "profile"
        in: "formData"
        description: "Collection of key:value pairs presented as a URL-encoded JSON\
          \ hash."
        required: false
        type: "string"
        x-exportParamName: "Profile"
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `users.profile:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "user"
        in: "formData"
        description: "ID of user to change. This argument may only be specified by\
          \ team admins on paid teams."
        required: false
        type: "string"
        x-exportParamName: "User"
      - name: "value"
        in: "formData"
        description: "Value to set a single key to. Usable only if `profile` is not\
          \ passed."
        required: false
        type: "string"
        x-exportParamName: "Value"
      - name: "name"
        in: "formData"
        description: "Name of a single key to set. Usable only if `profile` is not\
          \ passed."
        required: false
        type: "string"
        x-exportParamName: "Name"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              profile:
                display_name: "spengler"
                status_emoji: ":books:"
                team: "T012AB3C4"
                real_name: "Egon Spengler"
                image_24: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                real_name_normalized: "Egon Spengler"
                image_512: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                display_name_normalized: "spengler"
                image_32: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                image_48: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                image_72: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                avatar_hash: "ge3b51ca72de"
                status_text: "Print is dead"
                email: "spengler@ghostbusters.example.com"
                image_192: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_profile"
      security:
      - slackAuth:
        - "users.profile:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/users.profile.set"
  /users.setPresence:
    post:
      tags:
      - "users"
      description: "Manually sets user presence."
      operationId: "users_setPresence"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `users:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "presence"
        in: "formData"
        description: "Either `auto` or `away`"
        required: false
        type: "string"
        x-exportParamName: "Presence"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "users:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/users.setPresence"
  /conversations.close:
    post:
      tags:
      - "conversations"
      description: "Closes a direct message or multi-person direct message."
      operationId: "conversations_close"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `conversations:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "channel"
        in: "formData"
        description: "Conversation to close."
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/conversations.close success schema"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/conversations.close error schema"
          examples:
            application/json:
              ok: false
              error: "channel_not_found"
      security:
      - slackAuth:
        - "channels:write"
        - "groups:write"
        - "im:write"
        - "mpim:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/conversations.close"
  /im.open:
    post:
      tags:
      - "im"
      description: "Opens a direct message channel."
      operationId: "im_open"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `im:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "return_im"
        in: "formData"
        description: "Boolean, indicates you want the full IM channel definition in\
          \ the response."
        required: false
        type: "boolean"
        x-exportParamName: "ReturnIm"
      - name: "user"
        in: "formData"
        description: "User to open a direct message channel with."
        required: false
        type: "string"
        x-exportParamName: "User"
      - name: "include_locale"
        in: "formData"
        description: "Set this to `true` to receive the locale for this im. Defaults\
          \ to `false`"
        required: false
        type: "boolean"
        x-exportParamName: "IncludeLocale"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/im.open success schema"
          examples:
            application/json:
              ok: true
              channel:
                id: "D947RLWRX"
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/im.open error schema"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "im:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/im.open"
  /groups.list:
    get:
      tags:
      - "groups"
      description: "Lists private channels that the calling user has access to."
      operationId: "groups_list"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "exclude_members"
        in: "query"
        description: "Exclude the `members` from each `group`"
        required: false
        type: "boolean"
        x-exportParamName: "ExcludeMembers"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `groups:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "exclude_archived"
        in: "query"
        description: "Don't return archived private channels."
        required: false
        type: "boolean"
        x-exportParamName: "ExcludeArchived"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/groups.list success schema"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/groups.list error schema"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "groups:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/groups.list"
  /team.integrationLogs:
    get:
      tags:
      - "team"
      description: "Gets the integration logs for the current team."
      operationId: "team_integrationLogs"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "count"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Count"
      - name: "change_type"
        in: "query"
        description: "Filter logs with this change type. Defaults to all logs."
        required: false
        type: "string"
        x-exportParamName: "ChangeType"
      - name: "app_id"
        in: "query"
        description: "Filter logs to this Slack app. Defaults to all logs."
        required: false
        type: "integer"
        x-exportParamName: "AppId"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `admin`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "user"
        in: "query"
        description: "Filter logs generated by this user’s actions. Defaults to all\
          \ logs."
        required: false
        type: "string"
        x-exportParamName: "User"
      - name: "service_id"
        in: "query"
        description: "Filter logs to this service. Defaults to all logs."
        required: false
        type: "integer"
        x-exportParamName: "ServiceId"
      - name: "page"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Page"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "admin"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/team.integrationLogs"
  /groups.kick:
    post:
      tags:
      - "groups"
      description: "Removes a user from a private channel."
      operationId: "groups_kick"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `groups:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "user"
        in: "formData"
        description: "User to remove from private channel."
        required: false
        type: "string"
        x-exportParamName: "User"
      - name: "channel"
        in: "formData"
        description: "Private channel to remove user from."
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "groups:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/groups.kick"
  /dnd.info:
    get:
      tags:
      - "dnd"
      description: "Retrieves a user's current Do Not Disturb status."
      operationId: "dnd_info"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `dnd:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "user"
        in: "query"
        description: "User to fetch status for (defaults to current user)"
        required: false
        type: "string"
        x-exportParamName: "User"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "dnd:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/dnd.info"
  /channels.archive:
    post:
      tags:
      - "channels"
      description: "Archives a channel."
      operationId: "channels_archive"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `channels:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "channel"
        in: "formData"
        description: "Channel to archive"
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/channels.archive success schema"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/channels.archive error schema"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "channels:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.archive"
  /reminders.info:
    get:
      tags:
      - "reminders"
      description: "Gets information about a reminder."
      operationId: "reminders_info"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `reminders:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "reminder"
        in: "query"
        description: "The ID of the reminder"
        required: false
        type: "string"
        x-exportParamName: "Reminder"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "reminders:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/reminders.info"
  /channels.info:
    get:
      tags:
      - "channels"
      description: "Gets information about a channel."
      operationId: "channels_info"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `channels:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "include_locale"
        in: "query"
        description: "Set this to `true` to receive the locale for this channel. Defaults\
          \ to `false`"
        required: false
        type: "boolean"
        x-exportParamName: "IncludeLocale"
      - name: "channel"
        in: "query"
        description: "Channel to get info on"
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/channels.info success schema"
          examples:
            application/json:
              ok: true
              channel:
                topic:
                  last_set: 1503435128
                  value: "Spiritual containment strategies"
                  creator: "U0G9QF9C6"
                is_general: false
                name_normalized: "busting"
                name: "busting"
                is_channel: true
                created: 1466025154
                is_member: true
                is_mpim: false
                is_archived: false
                creator: "U0G9QF9C6"
                is_org_shared: false
                unread_count: 1
                previous_names:
                - "dusting"
                purpose:
                  last_set: 1503435128
                  value: "Discuss busting ghosts"
                  creator: "U0G9QF9C6"
                unread_count_display: 1
                last_read: "1503435939.000101"
                latest:
                  username: "ecto1138"
                  attachments:
                  - text: "Don't get too attached"
                    fallback: "This is an attachment fallback"
                    id: 1
                  text: "Containment unit is 98% full"
                  ts: "1503435956.000247"
                  subtype: "bot_message"
                  type: "message"
                  bot_id: "B19LU7CSY"
                members:
                - "U0G9QF9C6"
                - "U1QNSQB9U"
                id: "C1H9RESGL"
                is_private: false
                is_shared: false
        default:
          description: "Error response when the specified channel cannot be found"
          schema:
            $ref: "#/definitions/channels.info error schema"
          examples:
            application/json:
              ok: false
              error: "channel_not_found"
      security:
      - slackAuth:
        - "channels:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.info"
  /channels.kick:
    post:
      tags:
      - "channels"
      description: "Removes a user from a channel."
      operationId: "channels_kick"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `channels:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "user"
        in: "formData"
        description: "User to remove from channel."
        required: false
        type: "string"
        x-exportParamName: "User"
      - name: "channel"
        in: "formData"
        description: "Channel to remove user from."
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "not_in_channel"
      security:
      - slackAuth:
        - "channels:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.kick"
  /groups.mark:
    post:
      tags:
      - "groups"
      description: "Sets the read cursor in a private channel."
      operationId: "groups_mark"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `groups:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "ts"
        in: "formData"
        description: "Timestamp of the most recently seen message."
        required: false
        type: "number"
        x-exportParamName: "Ts"
      - name: "channel"
        in: "formData"
        description: "Private channel to set reading cursor in."
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/groups.mark success schema"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/groups.mark error schema"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "groups:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/groups.mark"
  /mpim.close:
    post:
      tags:
      - "mpim"
      description: "Closes a multiparty direct message channel."
      operationId: "mpim_close"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `mpim:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "channel"
        in: "formData"
        description: "MPIM to close."
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "mpim:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/mpim.close"
  /users.profile.get:
    get:
      tags:
      - "users.profile"
      - "users"
      description: "Retrieves a user's profile information."
      operationId: "users_profile_get"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `users.profile:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "include_labels"
        in: "query"
        description: "Include labels for each ID in custom profile fields"
        required: false
        type: "boolean"
        x-exportParamName: "IncludeLabels"
      - name: "user"
        in: "query"
        description: "User to retrieve profile info for"
        required: false
        type: "string"
        x-exportParamName: "User"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              profile:
                display_name: "spengler"
                status_emoji: ":books:"
                team: "T012AB3C4"
                real_name: "Egon Spengler"
                image_24: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                real_name_normalized: "Egon Spengler"
                image_512: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                display_name_normalized: "spengler"
                image_32: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                image_48: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                image_72: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                avatar_hash: "ge3b51ca72de"
                status_text: "Print is dead"
                email: "spengler@ghostbusters.example.com"
                image_192: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "user_not_found"
      security:
      - slackAuth:
        - "users.profile:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/users.profile.get"
  /channels.history:
    get:
      tags:
      - "channels"
      description: "Fetches history of messages and events from a channel."
      operationId: "channels_history"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "count"
        in: "query"
        description: "Number of messages to return, between 1 and 1000."
        required: false
        type: "integer"
        x-exportParamName: "Count"
      - name: "unreads"
        in: "query"
        description: "Include `unread_count_display` in the output?"
        required: false
        type: "boolean"
        x-exportParamName: "Unreads"
      - name: "inclusive"
        in: "query"
        description: "Include messages with latest or oldest timestamp in results."
        required: false
        type: "boolean"
        x-exportParamName: "Inclusive"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `channels:history`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "oldest"
        in: "query"
        description: "Start of time range of messages to include in results."
        required: false
        type: "number"
        x-exportParamName: "Oldest"
      - name: "channel"
        in: "query"
        description: "Channel to fetch history for."
        required: false
        type: "string"
        x-exportParamName: "Channel"
      - name: "latest"
        in: "query"
        description: "End of time range of messages to include in results."
        required: false
        type: "number"
        x-exportParamName: "Latest"
      responses:
        200:
          description: "Typical success response containing the channel's history"
          schema:
            $ref: "#/definitions/channels.history success schema"
          examples:
            application/json:
              has_more: false
              messages:
              - text: "Hello"
                type: "message"
                ts: "1358546515.000008"
                user: "U2147483896"
              - reactions:
                - count: 3
                  name: "space_invader"
                  users:
                  - "U1"
                  - "U2"
                  - "U3"
                - count: 5
                  name: "sweet_potato"
                  users:
                  - "U1"
                  - "U2"
                  - "U3"
                  - "U4"
                  - "U5"
                text: "World"
                ts: "1358546515.000007"
                user: "U2147483896"
                is_starred: true
                type: "message"
              - type: "something_else"
                ts: "1358546515.000007"
              - username: "ecto1138"
                attachments:
                - text: "Don't get too attached"
                  fallback: "This is an attachment fallback"
                  id: 1
                text: "Containment unit is 98% full"
                ts: "1503435956.000247"
                subtype: "bot_message"
                type: "message"
                bot_id: "B19LU7CSY"
              ok: true
              latest: "1358547726.000003"
        default:
          description: "Error response when the specified channel cannot be found"
          schema:
            $ref: "#/definitions/channels.history error schema"
          examples:
            application/json:
              ok: false
              error: "channel_not_found"
      security:
      - slackAuth:
        - "channels:history"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/channels.history"
  /im.mark:
    post:
      tags:
      - "im"
      description: "Sets the read cursor in a direct message channel."
      operationId: "im_mark"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `im:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "ts"
        in: "formData"
        description: "Timestamp of the most recently seen message."
        required: false
        type: "number"
        x-exportParamName: "Ts"
      - name: "channel"
        in: "formData"
        description: "Direct message channel to set reading cursor in."
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/im.mark success schema"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/im.mark error schema"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "im:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/im.mark"
  /oauth.token:
    get:
      tags:
      - "oauth"
      description: "Exchanges a temporary OAuth verifier code for a workspace token."
      operationId: "oauth_token"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "client_secret"
        in: "query"
        description: "Issued when you created your application."
        required: false
        type: "string"
        x-exportParamName: "ClientSecret"
      - name: "code"
        in: "query"
        description: "The `code` param returned via the OAuth callback."
        required: false
        type: "string"
        x-exportParamName: "Code"
      - name: "single_channel"
        in: "query"
        description: "Request the user to add your app only to a single channel."
        required: false
        type: "boolean"
        x-exportParamName: "SingleChannel"
      - name: "client_id"
        in: "query"
        description: "Issued when you created your application."
        required: false
        type: "string"
        x-exportParamName: "ClientId"
      - name: "redirect_uri"
        in: "query"
        description: "This must match the originally submitted URI (if one was sent)."
        required: false
        type: "string"
        x-exportParamName: "RedirectUri"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "none"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/oauth.token"
  /files.upload:
    post:
      tags:
      - "files"
      description: "Uploads or creates a file."
      operationId: "files_upload"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "channels"
        in: "formData"
        description: "Comma-separated list of channel names or IDs where the file\
          \ will be shared."
        required: false
        type: "string"
        x-exportParamName: "Channels"
      - name: "title"
        in: "formData"
        description: "Title of file."
        required: false
        type: "string"
        x-exportParamName: "Title"
      - name: "initial_comment"
        in: "formData"
        description: "Initial comment to add to file."
        required: false
        type: "string"
        x-exportParamName: "InitialComment"
      - name: "filetype"
        in: "formData"
        description: "A [file type](/types/file#file_types) identifier."
        required: false
        type: "string"
        x-exportParamName: "Filetype"
      - name: "filename"
        in: "formData"
        description: "Filename of file."
        required: false
        type: "string"
        x-exportParamName: "Filename"
      - name: "content"
        in: "formData"
        description: "File contents via a POST variable. If omitting this parameter,\
          \ you must provide a `file`."
        required: false
        type: "string"
        x-exportParamName: "Content"
      - name: "token"
        in: "formData"
        description: "Authentication token. Requires scope: `files:write:user`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "file"
        in: "formData"
        description: "File contents via `multipart/form-data`. If omitting this parameter,\
          \ you must submit `content`."
        required: false
        type: "string"
        x-exportParamName: "File"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/files.upload schema"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/files.upload error schema"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "files:write:user"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/files.upload"
  /usergroups.users.list:
    get:
      tags:
      - "usergroups.users"
      - "usergroups"
      description: "List all users in a User Group"
      operationId: "usergroups_users_list"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `usergroups:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "include_disabled"
        in: "query"
        description: "Allow results that involve disabled User Groups."
        required: false
        type: "boolean"
        x-exportParamName: "IncludeDisabled"
      - name: "usergroup"
        in: "query"
        description: "The encoded ID of the User Group to update."
        required: false
        type: "string"
        x-exportParamName: "Usergroup"
      responses:
        200:
          description: "Standard success response when used with a user token"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
              users:
              - "U060R4BJ4"
              - "W123A4BC5"
        default:
          description: "Standard failure response when used with an invalid token"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "usergroups:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/usergroups.users.list"
  /users.info:
    get:
      tags:
      - "users"
      description: "Gets information about a user."
      operationId: "users_info"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "include_locale"
        in: "query"
        description: "Set this to `true` to receive the locale for this user. Defaults\
          \ to `false`"
        required: false
        type: "boolean"
        x-exportParamName: "IncludeLocale"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `users:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "user"
        in: "query"
        description: "User to get info on"
        required: false
        type: "string"
        x-exportParamName: "User"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/users.info success schema"
          examples:
            application/json:
              ok: true
              user:
                profile:
                  display_name: "spengler"
                  status_emoji: ":books:"
                  team: "T012AB3C4"
                  real_name: "Egon Spengler"
                  image_24: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                  real_name_normalized: "Egon Spengler"
                  image_512: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                  display_name_normalized: "spengler"
                  image_32: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                  image_48: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                  image_72: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                  avatar_hash: "ge3b51ca72de"
                  status_text: "Print is dead"
                  email: "spengler@ghostbusters.example.com"
                  image_192: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                updated: 1502138686
                tz: "America/Los_Angeles"
                name: "spengler"
                deleted: false
                is_app_user: false
                is_bot: false
                tz_label: "Pacific Daylight Time"
                real_name: "Egon Spengler"
                color: "9f69e7"
                team_id: "T012AB3C4"
                is_admin: true
                is_ultra_restricted: false
                is_restricted: false
                is_owner: false
                tz_offset: -25200
                has_2fa: false
                id: "W012A3CDE"
                is_primary_owner: false
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/users.info error schema"
          examples:
            application/json:
              ok: false
              error: "user_not_found"
      security:
      - slackAuth:
        - "users:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/users.info"
  /users.lookupByEmail:
    get:
      tags:
      - "users"
      description: "Find a user with an email address."
      operationId: "users_lookupByEmail"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `users:read.email`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "email"
        in: "query"
        description: "An email address belonging to a user in the workspace"
        required: false
        type: "string"
        x-exportParamName: "Email"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/users.lookupByEmail success schema"
          examples:
            application/json:
              ok: true
              user:
                profile:
                  display_name: "spengler"
                  status_emoji: ":books:"
                  team: "T012AB3C4"
                  real_name: "Egon Spengler"
                  image_24: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                  real_name_normalized: "Egon Spengler"
                  image_512: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                  display_name_normalized: "spengler"
                  image_32: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                  image_48: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                  image_72: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                  avatar_hash: "ge3b51ca72de"
                  status_text: "Print is dead"
                  email: "spengler@ghostbusters.example.com"
                  image_192: "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg"
                updated: 1502138686
                tz: "America/Los_Angeles"
                name: "spengler"
                deleted: false
                is_app_user: false
                is_bot: false
                tz_label: "Pacific Daylight Time"
                real_name: "Egon Spengler"
                color: "9f69e7"
                team_id: "T012AB3C4"
                is_admin: true
                is_ultra_restricted: false
                is_restricted: false
                is_owner: false
                tz_offset: -25200
                has_2fa: false
                id: "W012A3CDE"
                is_primary_owner: false
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/users.lookupByEmail error schema"
          examples:
            application/json:
              ok: false
              error: "users_not_found"
      security:
      - slackAuth:
        - "users:read.email"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/users.lookupByEmail"
  /reactions.list:
    get:
      tags:
      - "reactions"
      description: "Lists reactions made by a user."
      operationId: "reactions_list"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "count"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Count"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `reactions:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "full"
        in: "query"
        description: "If true always return the complete reaction list."
        required: false
        type: "boolean"
        x-exportParamName: "Full"
      - name: "user"
        in: "query"
        description: "Show reactions made by this user. Defaults to the authed user."
        required: false
        type: "string"
        x-exportParamName: "User"
      - name: "page"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Page"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/reactions.list schema"
          examples:
            application/json:
              items:
              - message:
                  username: "Shipit Notifications"
                  reactions:
                  - count: 1
                    name: "robot_face"
                    users:
                    - "U2U85N1RV"
                  text: "Hello from Python! :tada:"
                  ts: "1507849573.000090"
                  subtype: "bot_message"
                  bot_id: "B4VLRLMKJ"
                type: "message"
                channel: "C3UKJTQAC"
              - comment:
                  comment: "This is a file comment"
                  reactions:
                  - count: 1
                    name: "white_check_mark"
                    users:
                    - "U2U85N1RV"
                  created: 1508286096
                  timestamp: 1508286096
                  user: "U2U85N1RV"
                  type: "file_comment"
                  id: "Fc7LP08P1U"
                file:
                  username: ""
                  reactions:
                  - count: 1
                    name: "stuck_out_tongue_winking_eye"
                    users:
                    - "U2U85N1RV"
                  title: "computer.gif"
                  created: 1507850315
                  channels:
                  - "C2U7V2YA2"
                  comments_count: 1
                  user: "U2U85N1RV"
              - type: "file"
                file:
                  username: ""
                  reactions:
                  - count: 1
                    name: "stuck_out_tongue_winking_eye"
                    users:
                    - "U2U85N1RV"
                  name: "computer.gif"
                  created: 1507850315
                  title: "computer.gif"
                  channels:
                  - "C2U7V2YA2"
                  comments_count: 1
                  user: "U2U85N1RV"
                  id: "F7H0D7ZA4"
                  size: 1639034
              paging:
                count: 100
                total: 3
                page: 1
                pages: 1
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/reactions.list error schema"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "reactions:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/reactions.list"
  /conversations.create:
    post:
      tags:
      - "conversations"
      description: "Initiates a public or private channel-based conversation"
      operationId: "conversations_create"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `conversations:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "name"
        in: "formData"
        description: "Name of the public or private channel to create"
        required: false
        type: "string"
        x-exportParamName: "Name"
      - name: "is_private"
        in: "formData"
        description: "Create a private channel instead of a public one"
        required: false
        type: "boolean"
        x-exportParamName: "IsPrivate"
      responses:
        200:
          description: "If successful, the command returns a rather stark [conversation\
            \ object](/types/conversation)"
          schema:
            $ref: "#/definitions/conversations.create success schema"
          examples:
            application/json:
              ok: true
              channel:
                is_general: false
                name_normalized: "endeavor"
                is_channel: true
                creator: "U0123456"
                is_member: true
                is_archived: false
                topic:
                  last_set: 0
                  value: ""
                  creator: ""
                unread_count_display: 0
                priority: 0
                is_im: false
                is_ext_shared: false
                previous_names: []
                last_read: "0000000000.000000"
                id: "C0EAQDV4Z"
                is_org_shared: false
                is_pending_ext_shared: false
                is_mpim: false
                is_group: false
                purpose:
                  last_set: 0
                  value: ""
                  creator: ""
                is_private: false
                is_shared: false
                name: "endeavor"
                created: 1504554479
                pending_shared: []
                unread_count: 0
                unlinked: 0
                latest: null
        default:
          description: "Typical error response when name already in use"
          schema:
            $ref: "#/definitions/conversations.create error schema"
          examples:
            application/json:
              ok: false
              error: "name_taken"
      security:
      - slackAuth:
        - "channels:write"
        - "groups:write"
        - "im:write"
        - "mpim:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/conversations.create"
  /team.billableInfo:
    get:
      tags:
      - "team"
      description: "Gets billable users information for the current team."
      operationId: "team_billableInfo"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `admin`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "user"
        in: "query"
        description: "A user to retrieve the billable information for. Defaults to\
          \ all users."
        required: false
        type: "string"
        x-exportParamName: "User"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "admin"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/team.billableInfo"
  /dnd.endDnd:
    post:
      tags:
      - "dnd"
      description: "Ends the current user's Do Not Disturb session immediately."
      operationId: "dnd_endDnd"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `dnd:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "dnd:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/dnd.endDnd"
  /search.all:
    get:
      tags:
      - "search"
      description: "Searches for messages and files matching a query."
      operationId: "search_all"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "sort_dir"
        in: "query"
        description: "Change sort direction to ascending (`asc`) or descending (`desc`)."
        required: false
        type: "string"
        x-exportParamName: "SortDir"
      - name: "query"
        in: "query"
        description: "Search query. May contains booleans, etc."
        required: false
        type: "string"
        x-exportParamName: "Query"
      - name: "sort"
        in: "query"
        description: "Return matches sorted by either `score` or `timestamp`."
        required: false
        type: "string"
        x-exportParamName: "Sort"
      - name: "count"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Count"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `search:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "highlight"
        in: "query"
        description: "Pass a value of `true` to enable query highlight markers (see\
          \ below)."
        required: false
        type: "boolean"
        x-exportParamName: "Highlight"
      - name: "page"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Page"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              files:
                matches:
                - groups: []
                  initial_comment:
                    comment: "Sure! Here's the workflow diagram!"
                    created: 1508804330
                    timestamp: 1508804330
                    is_intro: true
                    user: "U2U85N1RZ"
                    id: "Fc7NLL52E7"
                  filetype: "png"
                  channels: []
                  display_as_bot: false
                  id: "F7PKF1NR7"
                  size: 35705
                  original_h: 117
                  thumb_360_w: 128
                  title: "slack workflow diagram"
                  url_private: "https://files.slack.com/files-pri/T2U81E2FZ-F7PKF1NR7/slack_workflow_diagram.png"
                  thumb_360: "https://files.slack.com/files-tmb/T2U81E2FZ-F7PKF1NR7-19f33fc256/slack_workflow_diagram_360.png"
                  thumb_64: "https://files.slack.com/files-tmb/T2U81E2FZ-F7PKF1NR7-19f33fc256/slack_workflow_diagram_64.png"
                  ims: []
                  score: "0.99982661240974"
                  top_file: false
                  thumb_80: "https://files.slack.com/files-tmb/T2U81E2FZ-F7PKF1NR7-19f33fc256/slack_workflow_diagram_80.png"
                  thumb_360_h: 117
                  preview: null
                  original_w: 128
                  username: "amy"
                  timestamp: 1508804330
                  public_url_shared: false
                  editable: false
                  thumb_160: "https://files.slack.com/files-tmb/T2U81E2FZ-F7PKF1NR7-19f33fc256/slack_workflow_diagram_160.png"
                  url_private_download: "https://files.slack.com/files-pri/T2U81E2FZ-F7PKF1NR7/download/slack_workflow_diagram.png"
                  user: "U2U85N1RZ"
                  image_exif_rotation: 1
                  is_public: true
                  pretty_type: "PNG"
                  is_external: false
                  mimetype: "image/png"
                  permalink_public: "https://slack-files.com/T2U81E2FZ-F7PKF1NR7-bea9143f18"
                  permalink: "https://example.slack.com/files/U2U85N1RZ/F7PKF1NR7/slack_workflow_diagram.png"
                  name: "slack workflow diagram.png"
                  created: 1508804330
                  external_type: ""
                  comments_count: 1
                  mode: "hosted"
                pagination:
                  last: 1
                  total_count: 1
                  page_count: 1
                  per_page: 20
                  page: 1
                  first: 1
                total: 1
                paging:
                  count: 20
                  total: 1
                  page: 1
                  pages: 1
              ok: true
              messages:
                matches:
                - username: "amy"
                  permalink: "https://example.slack.com/archives/C2U86NC6M/p1508804330000296"
                  text: "uploaded a file: <https://example.slack.com/files/U2U85N1RZ/F7PKF1NR7/slack_workflow_diagram.png|slack\
                    \ workflow diagram> and commented: Sure! Here's the workflow diagram!"
                  ts: "1508804330.000296"
                  next:
                    username: "john"
                    text: "Thanks!"
                    ts: "1508804378.000219"
                    iid: "6f510ea1-e1d3-4f3f-bdb9-f9c6f6e9d609"
                    user: "U2U85HJ7R"
                    type: "message"
                  iid: "35692677-e60e-43d9-ac45-1987cea88975"
                  user: "U2U85N1RZ"
                  team: "T2U81E2FZ"
                  type: "message"
                  channel:
                    is_pending_ext_shared: false
                    is_shared: false
                    is_mpim: false
                    pending_shared: []
                    is_ext_shared: false
                    is_org_shared: false
                    id: "C2U86NC6M"
                    is_private: false
                    name: "general"
                  previous:
                    username: "john"
                    text: "Can you send me the Slack workflow diagram?"
                    ts: "1508804301.000026"
                    iid: "aba8603c-0543-4fb2-9118-a5ac85f3d138"
                    user: "U2U85HJ7R"
                    type: "message"
                pagination:
                  last: 1
                  total_count: 1
                  page_count: 1
                  per_page: 20
                  page: 1
                  first: 1
                total: 1
                paging:
                  count: 20
                  total: 1
                  page: 1
                  pages: 1
              posts:
                matches: []
                total: 0
              query: "diagram"
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              needed: "search:read"
              provided: "identify,bot:basic"
              ok: false
              error: "missing_scope"
      security:
      - slackAuth:
        - "search:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/search.all"
  /files.comments.delete:
    post:
      tags:
      - "files.comments"
      - "files"
      description: "Deletes an existing comment on a file."
      operationId: "files_comments_delete"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `files:write:user`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "id"
        in: "formData"
        description: "The comment to delete."
        required: false
        type: "string"
        x-exportParamName: "Id"
      - name: "file"
        in: "formData"
        description: "File to delete a comment from."
        required: false
        type: "string"
        x-exportParamName: "File"
      responses:
        200:
          description: "Standard success response is very simple"
          schema:
            $ref: "#/definitions/files.comments.delete schema"
          examples:
            application/json:
              ok: true
        default:
          description: "Standard failure response when used with an invalid token"
          schema:
            $ref: "#/definitions/files.comments.delete error schema"
          examples:
            application/json:
              ok: false
              error: "file_not_found"
      security:
      - slackAuth:
        - "files:write:user"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/files.comments.delete"
  /auth.revoke:
    get:
      tags:
      - "auth"
      description: "Revokes a token."
      operationId: "auth_revoke"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "test"
        in: "query"
        description: "Setting this parameter to `1` triggers a _testing mode_ where\
          \ the specified token will not actually be revoked."
        required: false
        type: "boolean"
        x-exportParamName: "Test"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `none`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
              revoked: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "none"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/auth.revoke"
  /reactions.add:
    post:
      tags:
      - "reactions"
      description: "Adds a reaction to an item."
      operationId: "reactions_add"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "name"
        in: "formData"
        description: "Reaction (emoji) name."
        required: false
        type: "string"
        x-exportParamName: "Name"
      - name: "file_comment"
        in: "formData"
        description: "File comment to add reaction to."
        required: false
        type: "string"
        x-exportParamName: "FileComment"
      - name: "timestamp"
        in: "formData"
        description: "Timestamp of the message to add reaction to."
        required: false
        type: "number"
        x-exportParamName: "Timestamp"
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `reactions:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "file"
        in: "formData"
        description: "File to add reaction to."
        required: false
        type: "string"
        x-exportParamName: "File"
      - name: "channel"
        in: "formData"
        description: "Channel where the message to add reaction to was posted."
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/reactions.add schema"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/reactions.add error schema"
          examples:
            application/json:
              ok: false
              error: "already_reacted"
      security:
      - slackAuth:
        - "reactions:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/reactions.add"
  /stars.add:
    post:
      tags:
      - "stars"
      description: "Adds a star to an item."
      operationId: "stars_add"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "file_comment"
        in: "formData"
        description: "File comment to add star to."
        required: false
        type: "string"
        x-exportParamName: "FileComment"
      - name: "timestamp"
        in: "formData"
        description: "Timestamp of the message to add star to."
        required: false
        type: "number"
        x-exportParamName: "Timestamp"
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `stars:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "channel"
        in: "formData"
        description: "Channel to add star to, or channel where the message to add\
          \ star to was posted (used with `timestamp`)."
        required: false
        type: "string"
        x-exportParamName: "Channel"
      - name: "file"
        in: "formData"
        description: "File to add star to."
        required: false
        type: "string"
        x-exportParamName: "File"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "stars:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/stars.add"
  /reminders.complete:
    post:
      tags:
      - "reminders"
      description: "Marks a reminder as complete."
      operationId: "reminders_complete"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `reminders:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "reminder"
        in: "formData"
        description: "The ID of the reminder to be marked as complete"
        required: false
        type: "string"
        x-exportParamName: "Reminder"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "reminders:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/reminders.complete"
  /chat.unfurl:
    post:
      tags:
      - "chat"
      description: "Provide custom unfurl behavior for user-posted URLs"
      operationId: "chat_unfurl"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "user_auth_message"
        in: "formData"
        description: "Provide a simply-formatted string to send as an ephemeral message\
          \ to the user as invitation to authenticate further and enable full unfurling\
          \ behavior"
        required: false
        type: "string"
        x-exportParamName: "UserAuthMessage"
      - name: "user_auth_required"
        in: "formData"
        description: "Set to `true` or `1` to indicate the user must install your\
          \ Slack app to trigger unfurls for this domain"
        required: false
        type: "boolean"
        x-exportParamName: "UserAuthRequired"
      - name: "unfurls"
        in: "formData"
        description: "URL-encoded JSON map with keys set to URLs featured in the the\
          \ message, pointing to their unfurl message attachments."
        required: false
        type: "string"
        x-exportParamName: "Unfurls"
      - name: "ts"
        in: "formData"
        description: "Timestamp of the message to add unfurl behavior to."
        required: false
        type: "string"
        x-exportParamName: "Ts"
      - name: "user_auth_url"
        in: "formData"
        description: "Send users to this custom URL where they will complete authentication\
          \ in your app to fully trigger unfurling. Value should be properly URL-encoded."
        required: false
        type: "string"
        x-exportParamName: "UserAuthUrl"
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `links:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "channel"
        in: "formData"
        description: "Channel ID of the message"
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical, minimal success response"
          schema:
            $ref: "#/definitions/chat.unfurl success schema"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          examples:
            application/json:
              ok: false
              error: "cannot_unfurl_url"
      security:
      - slackAuth:
        - "links:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/chat.unfurl"
  /conversations.unarchive:
    post:
      tags:
      - "conversations"
      description: "Reverses conversation archival."
      operationId: "conversations_unarchive"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `conversations:write`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "channel"
        in: "formData"
        description: "ID of conversation to unarchive"
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/conversations.unarchive success schema"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/conversations.unarchive error schema"
          examples:
            application/json:
              ok: false
              error: "channel_not_found"
      security:
      - slackAuth:
        - "channels:write"
        - "groups:write"
        - "im:write"
        - "mpim:write"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/conversations.unarchive"
  /groups.info:
    get:
      tags:
      - "groups"
      description: "Gets information about a private channel."
      operationId: "groups_info"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `groups:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "include_locale"
        in: "query"
        description: "Set this to `true` to receive the locale for this group. Defaults\
          \ to `false`"
        required: false
        type: "boolean"
        x-exportParamName: "IncludeLocale"
      - name: "channel"
        in: "query"
        description: "Private channel to get info on"
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/groups.info success schema"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/groups.info error schema"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "groups:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/groups.info"
  /files.revokePublicURL:
    post:
      tags:
      - "files"
      description: "Revokes public/external sharing access for a file"
      operationId: "files_revokePublicURL"
      consumes:
      - "application/x-www-form-urlencoded"
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "token"
        in: "header"
        description: "Authentication token. Requires scope: `files:write:user`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "file"
        in: "formData"
        description: "File to revoke"
        required: false
        type: "string"
        x-exportParamName: "File"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "files:write:user"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/files.revokePublicURL"
  /conversations.list:
    get:
      tags:
      - "conversations"
      description: "Lists all channels in a Slack team."
      operationId: "conversations_list"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "cursor"
        in: "query"
        description: "Paginate through collections of data by setting the `cursor`\
          \ parameter to a `next_cursor` attribute returned by a previous request's\
          \ `response_metadata`. Default value fetches the first \"page\" of the collection.\
          \ See [pagination](/docs/pagination) for more detail."
        required: false
        type: "string"
        x-exportParamName: "Cursor"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `conversations:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "limit"
        in: "query"
        description: "The maximum number of items to return. Fewer than the requested\
          \ number of items may be returned, even if the end of the list hasn't been\
          \ reached. Must be an integer no larger than 1000."
        required: false
        type: "integer"
        x-exportParamName: "Limit"
      - name: "exclude_archived"
        in: "query"
        description: "Set to `true` to exclude archived channels from the list"
        required: false
        type: "boolean"
        x-exportParamName: "ExcludeArchived"
      - name: "types"
        in: "query"
        description: "Mix and match channel types by providing a comma-separated list\
          \ of any combination of `public_channel`, `private_channel`, `mpim`, `im`"
        required: false
        type: "string"
        x-exportParamName: "Types"
      responses:
        200:
          description: "Typical success response with only public channels"
          schema:
            $ref: "#/definitions/conversations.list success schema"
          examples:
            application/json:
              channels:
              - is_general: true
                name_normalized: "general"
                is_channel: true
                creator: "U012A3CDE"
                is_member: true
                is_archived: false
                topic:
                  last_set: 0
                  value: "Company-wide announcements and work-based matters"
                  creator: ""
                is_im: false
                is_ext_shared: false
                previous_names: []
                id: "C012AB3CD"
                is_org_shared: false
                is_pending_ext_shared: false
                is_mpim: false
                is_group: false
                purpose:
                  last_set: 0
                  value: "This channel is for team-wide communication and announcements.\
                    \ All team members are in this channel."
                  creator: ""
                is_private: false
                is_shared: false
                num_members: 4
                name: "general"
                created: 1449252889
                pending_shared: []
                unlinked: 0
              - is_general: false
                name_normalized: "random"
                is_channel: true
                creator: "U061F7AUR"
                is_member: true
                is_archived: false
                topic:
                  last_set: 0
                  value: "Non-work banter and water cooler conversation"
                  creator: ""
                is_im: false
                is_ext_shared: false
                previous_names: []
                id: "C061EG9T2"
                is_org_shared: false
                is_pending_ext_shared: false
                is_mpim: false
                is_group: false
                purpose:
                  last_set: 0
                  value: "A place for non-work-related flimflam, faffing, hodge-podge\
                    \ or jibber-jabber you'd prefer to keep out of more focused work-related\
                    \ channels."
                  creator: ""
                is_private: false
                is_shared: false
                num_members: 4
                name: "random"
                created: 1449252889
                pending_shared: []
                unlinked: 0
              ok: true
              response_metadata:
                next_cursor: "dGVhbTpDMDYxRkE1UEI="
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/conversations.list error schema"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "channels:read"
        - "groups:read"
        - "im:read"
        - "mpim:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/conversations.list"
  /stars.list:
    get:
      tags:
      - "stars"
      description: "Lists stars for a user."
      operationId: "stars_list"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "count"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Count"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `stars:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "page"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Page"
      responses:
        200:
          description: "Typical success response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: true
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/Default success template"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "stars:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/stars.list"
  /reactions.get:
    get:
      tags:
      - "reactions"
      description: "Gets reactions for an item."
      operationId: "reactions_get"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "full"
        in: "query"
        description: "If true always return the complete reaction list."
        required: false
        type: "boolean"
        x-exportParamName: "Full"
      - name: "file_comment"
        in: "query"
        description: "File comment to get reactions for."
        required: false
        type: "string"
        x-exportParamName: "FileComment"
      - name: "timestamp"
        in: "query"
        description: "Timestamp of the message to get reactions for."
        required: false
        type: "number"
        x-exportParamName: "Timestamp"
      - name: "token"
        in: "query"
        description: "Authentication token. Requires scope: `reactions:read`"
        required: false
        type: "string"
        x-exportParamName: "Token"
      - name: "file"
        in: "query"
        description: "File to get reactions for."
        required: false
        type: "string"
        x-exportParamName: "File"
      - name: "channel"
        in: "query"
        description: "Channel where the message to get reactions for was posted."
        required: false
        type: "string"
        x-exportParamName: "Channel"
      responses:
        200:
          description: "Typical success response"
          schema:
            type: "object"
            description: "Schema for successful response from reactions.get method"
            title: "reactions.get success schema"
            properties: {}
          examples:
            application/json:
              type: "file"
              ok: true
              file:
                reactions:
                - count: 1
                  name: "stuck_out_tongue_winking_eye"
                  users:
                  - "U2U85N1RV"
                name: "computer.gif"
                created: 1507850315
                timestamp: 1507850315
                title: "computer.gif"
                channels:
                - "C2U7V2YA2"
                ims: []
                comments_count: 1
                user: "U2U85N1RV"
                groups: []
                id: "F7H0D7ZA4"
        default:
          description: "Typical error response"
          schema:
            $ref: "#/definitions/reactions.get error schema"
          examples:
            application/json:
              ok: false
              error: "invalid_auth"
      security:
      - slackAuth:
        - "reactions:read"
      externalDocs:
        description: "API method documentation"
        url: "https://api.slack.com/methods/reactions.get"
  /im.history:
    get:
      tags:
      - "im"
      description: "Fetches history of messages and events from direct message channel."
      operationId: "im_history"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
[...]
